@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<!-- Mashead header-->
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">Agri Energy Connect</h1>
                    <p class="lead fw-normal text-muted mb-5">Where farmers, green energy experts, and enthusiasts can collaborate, share resources, and innovate.</p>
                   
                </div>
            </div>
            <div class="col-lg-6">
                <div class="" masthead-device-mockup"">
                    <img src="~/Home/assets/img/FarmerImage.png" alt="Farmer Image" />
                </div>
               
            </div>
        </div>
    </div>
</header>



<section style="background-color: #eee;">
    <div class="container">
        <div>
            <h1>
                All Products of Farmers
            </h1>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                <div class="card">
                    <div class="d-flex justify-content-between p-3">
                        <p class="lead mb-0">Product Title</p>
                       
                    </div>
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/4.webp"
                         class="card-img-top" alt="Laptop" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="small"><a href="#!" class="text-muted">Category</a></p>
                            
                        </div>

                        <div class="d-flex justify-content-between mb-3">
                            <h5 class="mb-0">Production Date</h5>
                           
                        </div>

                        <div class="d-flex justify-content-between mb-2">
                            <p class="text-muted mb-0">Farmer Name</p>
                        </div>
                    </div>
                </div>
            </div>
           
           
        </div>
    </div>
</section>