@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<!-- Masthead header-->
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Masthead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">Agri Energy Connect</h1>
                    <p class="lead fw-normal text-muted mb-5">Where farmers, green energy experts, and enthusiasts can
                        collaborate, share resources, and innovate.</p>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-end">
                <div class="masthead-device-mockup">
                    <img src="~/Home/assets/img/FarmerImage.png" alt="Farmer Image" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</header>
