@{
    Layout = "_Layout";
    ViewData["Title"] = "Privacy And Policy";
}
<header class="masthead">
    <div class="container px-5">
        <h1>
            Privacy and Policy
        </h1>
    </div>
</header>