@model ST10090477_PROG_PART_2_YEAR_3.ViewModels.CreateProductVM
@{
    ViewData["Title"] = "Create Product";
}
<div class="container-fluid mx-auto">
    <a asp-action="Index" asp-controller="Product" class="btn btn-success mb-1">
        <span class="d-flex align-items-center">
            <i class="bi bi-arrow-bar-left"></i>
            <span class="small">Go Back</span>
        </span>
    </a>


    <div>
        <h1>Create Product</h1>
    </div>
    <form asp-action="Create" asp-controller="Product" method="post" enctype="multipart/form-data">

        <div class="row">


            <div class="col-9">
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label">Product Name</label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductCategory" class="control-label"> Product Category</label>
                    <input asp-for="ProductCategory" class="form-control" />
                    <span asp-validation-for="ProductCategory" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductProductionDate" class="control-label">Product Production Date</label>
                    <input type="date" asp-for="ProductProductionDate" class="form-control" />
                    <span asp-validation-for="ProductProductionDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-2">
                    <img src="~/Thumbnail/Thumbnail.png" class="img-fluid" id="thumbnail" />
                </div>
                <div class="mb-2">
                    <label>Thumbnail</label>
                    <input type="file" asp-for="Thumbnail" class="custom-file" />
                   
                </div>
            </div>
          
        </div>

       
      
      
        <button type="submit" class="btn btn-primary w-100">Create Product</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(".custom-file").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            document.getElementById('thumbnail').src = window.URL.createObjectURL(this.files[0])
        });
    </script>
}