@model ST10090477_PROG_PART_2_YEAR_3.ViewModels.RegisterVM
@{
    ViewData["Title"] = "Register";
}
<div class="container-fluid mx-auto">
    <a asp-action="Index" asp-controller="User" class="btn btn-success mb-1">
        <span class="d-flex align-items-center">
            <i class="bi bi-arrow-bar-left"></i>
            <span class="small">Go Back</span>
        </span>
    </a>

    <div>
        <h1>Add Farmer Profile</h1>
    </div>
    <form asp-action="CreateFarmer" asp-controller="User" method="post" class="row g-3">
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary w-100">Create Farmer</button>
        </div>
    </form>
</div>
