@model ST10090477_PROG_PART_2_YEAR_3.ViewModels.ResetPasswrodVM
@{
    ViewData["Title"] = "Reset Password";
}
<div class="container-fluid mx-auto">
    <a asp-action="Index" asp-controller="User" class="btn btn-success mb-3">
        <span class="d-flex align-items-center">
            <i class="bi bi-arrow-bar-left"></i>
            <span class="small">Go Back</span>
        </span>
    </a>

    <div>
        <h1>Reset Password</h1>
    </div>
    <input asp-for="Id" class="form-control" disabled hidden />
    <form asp-action="ResetPassword" asp-controller="User" asp-area="Employee" method="post" class="row g-3">
        <div class="col-12">
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" readonly />
            </div>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label">New Password</label>
                <input type="password" asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary w-100">Reset Password</button>
        </div>
    </form>
</div>
